@{ 
    ViewBag.Title = "404 Error";
}
<div class="alert alert-danger">
    <h1>@ViewBag.Message</h1>
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-outline-success" style="width:auto">Click here to go home page</a>