<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h5 class="text-danger">You are not in admin role please cotact with a admin to access</h5>
    <img src="~/Images/no-access-signs-p618-12755_zoom.jpg" style="height:250px; width:250px;"/>
</div>
