@model IEnumerable<Employee>
@{
    ViewBag.Title = "All Employee";
}
<div class="row">
    <div class="card-deck">
        @foreach (var employee in Model)
        {
            var employeePhoto = "~/Images/" + (employee.PhotoPath ?? "user-clipart-matt-icons_preferences-desktop-personal.png");
            <div class="col-md-3 col-sm-4">
                <div class="card m-0 mb-3">
                    <img class="card-img-top thumbnailImg" src="@employeePhoto" asp-append-version="true"/>
                    <div class="card-body">
                        <h3 class="card-title">@employee.Name</h3>

                    </div>
                    <div class="card-footer">
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.ID"
                           class="btn btn-success m-0 mb-1">Details</a>
                        <a asp-action="Edit" asp-controller="Home" asp-route-id="@employee.ID" class="btn btn-primary m-0 mb-1">Edit</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
